:root {
  --building-color: #ffb74d;
  --failed-color: #d32f2f;
  --success-color: #00c853;
  --unknown-color: #b0bec5;
}

html, body {
  overflow-y: visible;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

#top {
  position: fixed;
  background: rgba(255, 255, 255, 1.0);
  padding: 10px 0 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}

#settings {
  display: none;
  background: #fff;
  color: #000;
  padding: 10px 15px 50px 15px;
}

.summary-success {
  padding-left: 40px;
  color: var(--success-color);
}

.summary-building {
  padding-left: 10px;
  color: var(--building-color);
}

.summary-failure {
  padding-left: 10px;
  color: var(--failed-color);
}

#settings-open-icon {
  float: right;
  padding-right: 40px;
}

#projects {
  padding: 50px 0 0 0;
}

.project {
  color: #f5f2f0;
  text-align: center;
  height: 70px;
}

.project p {
  padding: 0;
  margin: 10px 0 0 0;
}

.project-name {
  font-size: 8px;
}

.Error {
  background: #882132;
}

.Exception.Building {
  background: #ff9933;
}
.Exception.CheckingModifications {
  background: #440000;
}
.Exception.Pending {
  background: #440000;
}
.Exception.Sleeping {
  background: #440000;
}
.Exception.Unknown {
  background: #440000;
}

.Failure.Building {
  background: var(--building-color);
}
.Failure.CheckingModifications {
  background: #d32f2f;
}
.Failure.Pending {
  background: #d32f2f;
}
.Failure.Sleeping {
  background: #d32f2f;
}
.Failure.Unknown {
  background: #d32f2f;
}

.Success.Building {
  background: var(--building-color);
}
.Success.CheckingModifications {
  background: var(--success-color);
}
.Success.Pending {
  background: var(--success-color);
}
.Success.Sleeping {
  background: var(--success-color);
}
.Success.Unknown {
  background: var(--success-color);
}

.Unknown.Building {
  background: var(--building-color);
}
.Unknown.CheckingModifications {
  background: var(--unknown-color);
}
.Unknown.Pending {
  background: var(--unknown-color);
}
.Unknown.Sleeping {
  background: var(--unknown-color);
}
.Unknown.Unknown {
  background: var(--unknown-color);
}

.server-config {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}

.bottom > * {
  vertical-align: bottom;
}
